<% if flash.present? %>
	<div id="flash">
		<% flash.each do |key, value| -%>
			<div class="flash-message flash-<%= key %>">
				<span><%= value.html_safe %></span>
			</div>
		<% end -%>
	</div>
<% end %>
