<div class="hero">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>A better way to practice</h1>
			<p>Get a more accurate picture of what you're practicing, and the results you're getting</p>
		</div>

		<%= link_to 'Sign Up', sign_up_path, class: 'button' %>
	</div>
</div>
